!!! 5
html(lang="en")
  head
    title CMS
    link(rel="stylesheet", href="/style.css")
  body
    #wrapper
      - if(typeof(flash) !== 'undefined' && flash != '')
        #flash= flash
      #container
        !{body}
